<p>
  Emergency Mode for News is for newsroom planners and activators — the people everyone looks to
  when a disaster happens. The program is a collaboration between
  <a href="https://www.opennews.org/" target="grantee">OpenNews ↗</a>,
  <a href="https://newspack.com/" target="grantee">Newspack ↗</a>, and
  <a href="https://nclocal.org/" target="grantee">NC Local ↗</a>, with funding from
  <a href="https://www.pressforward.news/" target="pressforward">Press Forward ↗</a>, a national
  initiative to reimagine local news.
</p>
<small style="color: #666">
  This Lite Site is powered by
  <a href="https://github.com/Automattic/newspack-lite-site" target="litesites"
    >Newspack's Lite Site plugin ↗</a
  >.<br />
  <a href="/text/about/privacy-policy/">Privacy Policy</a> |
  <a href="/text/about/accessibility/">Accessibility Statement</a> | © 2026 Emergency Mode for News.
</small>
